effectively next steps are
(merging prices for all coins, sorting by date, calculating the average price for high,low, open, close and then plotting them.

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
index_dir = os.getcwd()+'\\Crypto_index_four'
index_dir

'C:\\Users\\Mark\\Documents\\DataSci\\Module 5\\Crypto\\Crypto_index_four'

In [15]:
df1 = pd.read_csv(index_dir+'\\Aidcoin.csv')
df2 = pd.read_csv(index_dir+'\\decred.csv')
df3 = pd.read_csv(index_dir+'\\ecobit.csv')
df4 = pd.read_csv(index_dir+'\\faircoin.csv')
df_list = [df1,df2,df3,df4]

In [4]:
df1.head()

           Date      Open      High       Low     Close Volume Market_Cap
0  Oct 02  2019  0.008789  0.008906  0.008450  0.008582    444    391 753
1  Oct 01  2019  0.008583  0.009212  0.008516  0.008789    278    401 192
2  Sep 30  2019  0.009616  0.009616  0.008347  0.008581    216    391 716
3  Sep 29  2019  0.011106  0.011110  0.008836  0.009617     64    438 985
4  Sep 28  2019  0.010464  0.011370  0.009046  0.011105    282    506 917

In [5]:
df1.describe()

             Open        High         Low       Close
count  617.000000  617.000000  617.000000  617.000000
mean     0.091198    0.097434    0.084274    0.089999
std      0.103489    0.110784    0.092051    0.100109
min      0.008054    0.008653    0.007716    0.008055
25%      0.028068    0.032133    0.024653    0.027383
50%      0.054734    0.057522    0.051587    0.054637
75%      0.116250    0.121042    0.110423    0.116268
max      0.808118    0.827591    0.670572    0.803381

In [32]:
df.isna().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market_Cap    0
dtype: int64

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 7 columns):
Date          617 non-null object
Open          617 non-null float64
High          617 non-null float64
Low           617 non-null float64
Close         617 non-null float64
Volume        617 non-null object
Market_Cap    617 non-null object
dtypes: float64(4), object(3)
memory usage: 33.8+ KB

In [34]:
type(df.Volume[0])

str

In [16]:
for i in range(len(df_list)):
    df_list[i].Volume = df_list[i].Volume.replace('-', str(0))
    df_list[i].Market_Cap = df_list[i].Market_Cap.replace('-', str(0))
    df_list[i].Volume = df_list[i].Volume.apply(lambda x: x.replace(' ', ''))
    df_list[i].Market_Cap = df_list[i].Market_Cap.apply(lambda x: x.replace(' ',''))
    df_list[i].Volume = pd.to_numeric(df_list[i].Volume)
    df_list[i].Market_Cap = pd.to_numeric(df_list[i].Market_Cap)

In [17]:
df_list[0].head()

           Date      Open      High       Low     Close  Volume  Market_Cap
0  Oct 02  2019  0.008789  0.008906  0.008450  0.008582     444      391753
1  Oct 01  2019  0.008583  0.009212  0.008516  0.008789     278      401192
2  Sep 30  2019  0.009616  0.009616  0.008347  0.008581     216      391716
3  Sep 29  2019  0.011106  0.011110  0.008836  0.009617      64      438985
4  Sep 28  2019  0.010464  0.011370  0.009046  0.011105     282      506917

In [18]:
df_list[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331 entries, 0 to 1330
Data columns (total 7 columns):
Date          1331 non-null object
Open          1331 non-null float64
High          1331 non-null float64
Low           1331 non-null float64
Close         1331 non-null float64
Volume        1331 non-null int64
Market_Cap    1331 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 72.9+ KB

In [23]:
currency = ['AidCoin', 'Decred', 'Ecobit', 'Faircoin']
for i in range(len(df_list)):
    print(currency[i])
    print(df_list[i].describe())
    print('#'*50)

AidCoin
             Open        High         Low       Close        Volume  \
count  617.000000  617.000000  617.000000  617.000000  6.170000e+02
mean     0.091198    0.097434    0.084274    0.089999  2.230643e+05
std      0.103489    0.110784    0.092051    0.100109  6.622979e+05
min      0.008054    0.008653    0.007716    0.008055  6.400000e+01
25%      0.028068    0.032133    0.024653    0.027383  1.531600e+04
50%      0.054734    0.057522    0.051587    0.054637  4.850000e+04
75%      0.116250    0.121042    0.110423    0.116268  1.916540e+05
max      0.808118    0.827591    0.670572    0.803381  1.081590e+07

         Market_Cap
count  6.170000e+02
mean   2.837725e+06
std    2.307381e+06
min    0.000000e+00
25%    1.041639e+06
50%    2.310775e+06
75%    4.193674e+06
max    1.119565e+07
##################################################
Decred
              Open         High          Low        Close        Volume  \
count  1331.000000  1331.000000  1331.000000  1331.000000  1.331000e+03
mean     28.701319    30.264438    27.108433    28.717865  2.421225e+06
std      27.974969    29.594244    26.229161    27.961888  5.299522e+06
min       0.421673     0.459372     0.394796     0.422478  2.725000e+03
25%       2.050000     2.180000     1.935000     2.060000  5.786350e+04
50%      24.550000    25.640000    23.170000    24.470000  1.234300e+06
75%      38.575000    40.060000    36.870000    38.615000  2.637520e+06
max     122.400000   139.940000   116.940000   122.740000  1.248591e+08

         Market_Cap
count  1.331000e+03
mean   2.107085e+08
std    2.000942e+08
min    0.000000e+00
25%    3.923034e+06
50%    1.758996e+08
75%    3.176667e+08
max    8.345870e+08
##################################################
Ecobit
             Open        High         Low       Close         Volume  \
count  816.000000  816.000000  816.000000  816.000000     816.000000
mean     0.017414    0.019541    0.015770    0.017357    2830.811275
std      0.012377    0.015676    0.010269    0.012331    8980.698176
min      0.003162    0.003186    0.002631    0.003162       0.000000
25%      0.010038    0.010857    0.009193    0.009996       2.000000
50%      0.014957    0.016023    0.013820    0.014910      92.500000
75%      0.020468    0.022404    0.018330    0.020469     817.250000
max      0.127461    0.186572    0.097190    0.127294  117866.000000

         Market_Cap
count  8.160000e+02
mean   7.447421e+06
std    5.516292e+06
min    0.000000e+00
25%    4.158898e+06
50%    6.484200e+06
75%    8.694733e+06
max    5.657511e+07
##################################################
Faircoin
              Open         High          Low        Close        Volume  \
count  1962.000000  1962.000000  1962.000000  1962.000000  1.962000e+03
mean      0.155684     0.170394     0.141706     0.155657  1.779726e+04
std       0.259766     0.284850     0.238341     0.259817  1.076784e+05
min       0.000291     0.000427     0.000281     0.000291  0.000000e+00
25%       0.012198     0.013608     0.010606     0.012253  6.000000e+01
50%       0.027759     0.029311     0.025593     0.027759  3.415000e+02
75%       0.178404     0.200079     0.157071     0.175569  2.332750e+03
max       1.370000     1.910000     1.210000     1.350000  2.878780e+06

         Market_Cap
count  1.962000e+03
mean   8.272597e+06
std    1.382571e+07
min    1.456300e+04
25%    6.345450e+05
50%    1.476587e+06
75%    9.339174e+06
max    7.174624e+07
##################################################

In [25]:
for i in range(len(df_list)):
    print(df_list[i].isna().sum())

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market_Cap    0
dtype: int64
Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market_Cap    0
dtype: int64
Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market_Cap    0
dtype: int64
Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market_Cap    0
dtype: int64

In [44]:
d

21

In [51]:
joined_df = pd.merge(df_list[3], df_list[2], on='Date', how='left')
joined_df =pd.merge(joined_df, df_list[1], on='Date', how='left')
joined_df =pd.merge(joined_df, df_list[0], on='Date', how='left')
joined_df.columns = ['Date', # 0 : 1-6 : 7-12 : 13-18 : 19-24 
                    f'{currency[0]}_Open', f'{currency[0]}_High', f'{currency[0]}_Low', f'{currency[0]}_Close', f'{currency[0]}_Volume', f'{currency[0]}_Market_Cap',
                    f'{currency[1]}_Open', f'{currency[1]}_High', f'{currency[1]}_Low', f'{currency[1]}_Close', f'{currency[1]}_Volume', f'{currency[1]}_Market_Cap',
                    f'{currency[2]}_Open', f'{currency[2]}_High', f'{currency[2]}_Low', f'{currency[2]}_Close', f'{currency[2]}_Volume', f'{currency[2]}_Market_Cap',
                    f'{currency[3]}_Open', f'{currency[3]}_High', f'{currency[3]}_Low', f'{currency[3]}_Close', f'{currency[3]}_Volume', f'{currency[3]}_Market_Cap',]
(joined_df.columns)

Index(['Date', 'AidCoin_Open', 'AidCoin_High', 'AidCoin_Low', 'AidCoin_Close',
       'AidCoin_Volume', 'AidCoin_Market_Cap', 'Decred_Open', 'Decred_High',
       'Decred_Low', 'Decred_Close', 'Decred_Volume', 'Decred_Market_Cap',
       'Ecobit_Open', 'Ecobit_High', 'Ecobit_Low', 'Ecobit_Close',
       'Ecobit_Volume', 'Ecobit_Market_Cap', 'Faircoin_Open', 'Faircoin_High',
       'Faircoin_Low', 'Faircoin_Close', 'Faircoin_Volume',
       'Faircoin_Market_Cap'],
      dtype='object')

In [49]:
# for the weights multipley a value by the market cap then add to the next currency / that sum by the sum of all market caps

0.008789

In [53]:
weighted_open=[]
for i in range(len(joined_df)-1):
    a=((df.iloc[i,1])*(df.iloc[i,6])+(df.iloc[i,7])*(df.iloc[i,12])+(df.iloc[i,13])*(df.iloc[i,18])\
    +(df.iloc[i,19])*(df.iloc[i,24]))/(df.iloc[i,6]+df.iloc[i,12]+df.iloc[i,18]+df.iloc[i,24])
    weighted_open.append(a)

NameError: name 'df' is not defined

In [ ]:
weighted_open[:5]

In [ ]:
# df = pd.merge(df4, df3, on='Date', how='left')
# df=pd.merge(df,df2, on='Date', how='left')
# df=pd.merge(df,df1, on='Date', how='left')
# df.columns = ['Date','faircoin_Close','faircoin_Market','ecobit_Close','ecobit_Market',
#                      "decred_Close",'decred_Market','AidCoin_Close','AidCoin_Market']
# df=df.fillna(0

In [ ]:
# weighted_Close=[]
# for i in range(len(df)-1):
#     a=((df.iloc[i,1])*(df.iloc[i,2])+(df.iloc[i,3])*(df.iloc[i,4])+(df.iloc[i,5])*(df.iloc[i,6])\
#     +(df.iloc[i,7])*(df.iloc[i,8]))/(df.iloc[i,2]+df.iloc[i,4]+df.iloc[i,6]+df.iloc[i,8])
#     weighted_Close.append(a)

In [ ]:
# df = pd.merge(df4, df3, on='Date', how='left')
# df=pd.merge(df,df2, on='Date', how='left')
# df=pd.merge(df,df1, on='Date', how='left')
# df.columns = ['Date','faircoin_Low','faircoin_Market','ecobit_Low','ecobit_Market',
#                      "decred_Low",'decred_Market','AidCoin_Low','AidCoin_Market']
# df=df.fillna(0)

In [ ]:
# weighted_low=[]
# for i in range(len(df)-1):
#     a=((df.iloc[i,1])*(df.iloc[i,2])+(df.iloc[i,3])*(df.iloc[i,4])+(df.iloc[i,5])*(df.iloc[i,6])\
#     +(df.iloc[i,7])*(df.iloc[i,8]))/(df.iloc[i,2]+df.iloc[i,4]+df.iloc[i,6]+df.iloc[i,8])
#     weighted_low.append(a)

In [ ]:
# df = pd.merge(df4, df3, on='Date', how='left')
# df=pd.merge(df,df2, on='Date', how='left')
# df=pd.merge(df,df1, on='Date', how='left')
# df.columns = ['Date','faircoin_High','faircoin_Market','ecobit_High','ecobit_Market',
#                      "decred_High",'decred_Market','AidCoin_High','AidCoin_Market']
# df=df.fillna(0)

In [ ]:
# weighted_high=[]
# for i in range(len(df)-1):
#     a=((df.iloc[i,1])*(df.iloc[i,2])+(df.iloc[i,3])*(df.iloc[i,4])+(df.iloc[i,5])*(df.iloc[i,6])\
#     +(df.iloc[i,7])*(df.iloc[i,8]))/(df.iloc[i,2]+df.iloc[i,4]+df.iloc[i,6]+df.iloc[i,8])
#     weighted_high.append(a)