effectively next steps are
(merging prices for all coins, sorting by date, calculating the average price for high,low, open, close and then plotting them.

In [2]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Mark\\Documents\\DataSci\\Module 5\\Crypto'

In [29]:
df = pd.read_csv(os.getcwd()+'\\Crypto_index_four\\faircoin.csv')

In [30]:
df.head()

           Date      Open      High       Low     Close Volume Market_Cap
0  Oct 02  2019  0.044188  0.044265  0.005768  0.008388    105    446 166
1  Oct 01  2019  0.016597  0.044851  0.004554  0.044174  1 334  2 349 775
2  Sep 30  2019  0.016271  0.016693  0.015709  0.016597      -    882 883
3  Sep 29  2019  0.017081  0.017081  0.016230  0.016274     46    865 656
4  Sep 28  2019  0.017081  0.017081  0.017081  0.017081      -    908 604

In [31]:
df.describe()

              Open         High          Low        Close
count  1962.000000  1962.000000  1962.000000  1962.000000
mean      0.155684     0.170394     0.141706     0.155657
std       0.259766     0.284850     0.238341     0.259817
min       0.000291     0.000427     0.000281     0.000291
25%       0.012198     0.013608     0.010606     0.012253
50%       0.027759     0.029311     0.025593     0.027759
75%       0.178404     0.200079     0.157071     0.175569
max       1.370000     1.910000     1.210000     1.350000

In [32]:
df.isna().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market_Cap    0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1962 entries, 0 to 1961
Data columns (total 7 columns):
Date          1962 non-null object
Open          1962 non-null float64
High          1962 non-null float64
Low           1962 non-null float64
Close         1962 non-null float64
Volume        1962 non-null object
Market_Cap    1962 non-null object
dtypes: float64(4), object(3)
memory usage: 107.4+ KB

In [34]:
type(df.Volume[0])

str

In [37]:
df['Volume'] = df['Volume'].replace('-',str(0))
df['Volume'] = df['Volume'].apply(lambda x: x.replace(' ',''))
df['Market_Cap'] = df['Market_Cap'].apply(lambda x: x.replace(' ',''))

In [38]:
df.head()

           Date      Open      High       Low     Close Volume Market_Cap
0  Oct 02  2019  0.044188  0.044265  0.005768  0.008388    105     446166
1  Oct 01  2019  0.016597  0.044851  0.004554  0.044174   1334    2349775
2  Sep 30  2019  0.016271  0.016693  0.015709  0.016597      0     882883
3  Sep 29  2019  0.017081  0.017081  0.016230  0.016274     46     865656
4  Sep 28  2019  0.017081  0.017081  0.017081  0.017081      0     908604

In [41]:
df['Volume'] = pd.to_numeric(df['Volume'])

In [42]:
df['Market_Cap'] = pd.to_numeric(df['Market_Cap'])

In [43]:
df.describe()

,Open,High,Low,Close,Volume,Market_Cap
count,1962.000000,1962.000000,1962.000000,1962.000000,1.962000e+03,1.962000e+03
mean,0.155684,0.170394,0.141706,0.155657,1.779726e+04,8.272597e+06
std,0.259766,0.284850,0.238341,0.259817,1.076784e+05,1.382571e+07
min,0.000291,0.000427,0.000281,0.000291,0.000000e+00,1.456300e+04
25%,0.012198,0.013608,0.010606,0.012253,6.000000e+01,6.345450e+05
50%,0.027759,0.029311,0.025593,0.027759,3.415000e+02,1.476587e+06
75%,0.178404,0.200079,0.157071,0.175569,2.332750e+03,9.339174e+06
max,1.370000,1.910000,1.210000,1.350000,2.878780e+06,7.174624e+07

In [44]:
df.isna().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market_Cap    0
dtype: int64